
html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins','Open Sans', 'Roboto', sans-serif;
  color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #A4BEA0;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  margin: auto;
}

/*header info*/
h1 {
  font-family:'Yellowtail','Bellaluccia', 'Hummingbird', cursive;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  margin: 3rem;
  color: #C36C5D;
  text-shadow: 3px 2px #fff;
}

  #header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-position: center;
    }

  #switchbox {
    background-color: #8BAD9D;
    border-radius: 1rem;
    border-style: double;
    border-color: #DFD7BB;
    padding: .5rem 1rem;
    margin: auto;
    max-width: 700px;
    }

  #heading {
    font-family:'Outfit', 'Futura', 'Helvetica', sans-serif;
    text-align: center;
    margin: auto;
    font-size: 2rem;
    color: #DFD7BB;
    font-weight: 600;
    padding: 0 1rem;
    }


h2 {
  font-family: 'Poppins','Open Sans', 'Roboto', sans-serif;
  text-align: center;
  font-size: 1rem;
  padding: 0 1rem;
  color: #C36C5D;
  margin: auto;
  }

/*nav*/
nav ul {
  font-family:'Outfit', 'Futura', 'Helvetica', sans-serif;
  font-weight: 600;
  color: #8BAD9D;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 1rem;
  font-size: 1rem;
  margin-right: 2rem;
  }

nav ul li {
  background-color: #DFD7BB;
  border-style: double;
  border-color: #8BAD9D;
  border-width: thick;
  border-radius: 1rem;
  padding: .5rem 1rem;
  }

h3{
  font-family:'Outfit', 'Futura', 'Helvetica', sans-serif;
  text-align: center;
  margin: auto;
  font-size: 2rem;
  color: #DFD7BB;
  font-weight: 600;
  padding: 0 1rem;
}

/* first section appears when page loads*/
  #home {
    border-style: double;
    border-color: #8BAD9D;
    border-width: thick;
    background-color: #D89065;
    border-radius: 1.5rem;
    padding:1rem;
    margin: auto;
    max-width: 800px;
    text-align: center;
    }

    #home-page{
      border-radius: 1.5rem;
    }

/* pasta history stuff */
  #historyPasta {
    border-style: double;
    border-color: #DFD7BB;
    border-width: thick;
    background-color: #C36C5D;
    border-radius: 1.5rem;
    padding:1rem;
    margin: auto;
    max-width: 1000px;
    text-align: center;
   }

#phistory {
  text-align: left;
  padding: 0 3rem;
}

#hisone {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 1rem;
  margin-top: 2rem;
  border-radius: 1.5rem;
}

#histwo {
  width: 300px;
  height: 200px;
  float: right;
  margin-left: 1rem;
  margin-top: 2rem;
  border-radius: 1.5rem;
}

.rotate-right {
  transform: rotate(10deg);
}

.rotate-left {
  transform: rotate(-10deg);
}

.rotate-none {
  transform: rotate(0deg);
}


/* groups start */
 #pastaGroups {
   border-style: double;
   border-color: #8BAD9D;
   border-width: thick;
   border-radius: 1.5rem;
   padding:1rem;
   margin: auto;
   max-width: 1000px;
   text-align: center;
  }

  .border{
    border-style: double;
    border-color: #DFD7BB;
    border-width: medium;
    border-radius: 1.5rem;
    padding:1rem;
    margin: auto;
    max-width: 900px;
  }

#long{
  display: flex;
  flex-direction: row;
  background-color: #A4BEA0;
  margin-bottom: 1rem;
}
  #longpic img {
    width: 400px;
    height: 300px;
    border-radius: 1.5rem;
    margin-top: 3rem;
    }

  #longtext {
    flex: 1;
      margin: 0;
  }

  #longpic {
    flex: 1;
    margin-top: 1rem;
  }

  #tube {
    display: flex;
    flex-direction: row;
    background-color: #D89065;
    margin-bottom: 1rem;
  }
    #tubepic img {
      width: 400px;
      height: 300px;
      border-radius: 1.5rem;
      margin-top: 3rem;
      }

    #tubetext {
      flex: 1;
      margin: 0;
    }

    #tubepic {
      flex: 1;
      margin-top: 1rem;
    }


  #soup {
        display: flex;
        flex-direction: row;
        background-color: #8BAD9D;
        margin-bottom: 1rem;
        border-color: #DFD7BB;
      }
        #souppic img {
          width: 400px;
          height: 300px;
          border-radius: 1.5rem;
          margin-top: 3rem;
          }

        #souptext {
          flex: 1;
            margin: 0;
        }

        #souppic {
          flex: 1;
          margin-top: 1rem;
        }


          #stuffed {
            display: flex;
            flex-direction: row;
            background-color: #C36C5D;
            margin-bottom: 1rem;
          }
            #stuffedpic img {
              width: 400px;
              height: 300px;
              border-radius: 1.5rem;
              margin-top: 3rem;
              }

            #stuffedtext {
              flex: 1;
              margin: 0;
            }

            #stuffedpic {
              flex: 1;
              margin-top: 1rem;
            }


              #specialShape {
                display: flex;
                flex-direction: row;
                background-color: #A4BEA0;
                margin-bottom: 1rem;
              }
                #specialShapepic img {
                  width: 400px;
                  height: 300px;
                  border-radius: 1.5rem;
                  margin-top: 3rem;
                  }

                #specialShapetext {
                  flex: 1;
                    margin: 0;
                }

                #specialShapepic {
                  flex: 1;
                  margin-top: 1rem;
                }
.shape{
  text-align: left;
}
/*groups end */

  #popularPasta {
    border-style: double;
    border-color: #DFD7BB;
    border-width: thick;
    background-color: #D89065;
    border-radius: 1.5rem;
    padding:1rem;
    margin: auto;
    max-width: 1000px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    }

  #chartOne {
    margin:auto;
    width: 700px;
    height: 600px;
    margin-top: 2rem;
    border-radius: 1.5rem;
    margin-bottom: 0;
  }

  #populartext{
    text-align: left;
    max-width: 800px;
    margin: auto;
    display: flex;
    padding-bottom: 1rem;
  }

/* region start */
  #pastaOrigin {
    border-style: double;
    border-color: #DFD7BB;
    border-width: thick;
    background-color: #8BAD9D;
    border-radius: 1.5rem;
    padding:1rem 3rem;
    margin: auto;
    max-width: 1000px;
    text-align: center;
    }

/* I used this video to figure out how to make the words go around the picture https://www.youtube.com/watch?v=uf3ayuzA6ME */
  #map {
    width: 500px;
    height: 300px;
    float: right;
    margin-left: 1rem;
    border-radius: 1.5rem;
    }


    #regionintro {
      text-align: center;
      color: #DFD7BB;
      max-width: 800px;
      margin:auto;
      font-weight: bold;
      padding-bottom: 0.5rem;
    }

  #lom {
    width: 600px;
    height: 400px;
    justify-content: center;
    margin: auto;
    display: flex;
    border-radius: 1.5rem;
  }

#regionback {
  border-style: double;
  border-color: #C36C5D;
  border-width: medium;
  background-color: #8BAD9D;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: auto;
  max-width: 800px;
  text-align: left;
}
/* region end */

    #saucePairings {
      border-style: double;
      border-color: #DFD7BB;
      border-width: thick;
      background-color: #C36C5D;
      border-radius: 1.5rem;
      padding:1rem;
      margin: auto;
      max-width: 1000px;
      text-align: left;
    }

#saucemargin{
  max-width: 800px;
  margin: auto;
}

#sauceone{
  width: 300px;
  height: 200px;
  float: right;
  margin-left: 1rem;
  border-radius: 1.5rem;
}

#saucetwo{
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 1rem;
  border-radius: 1.5rem;
}

#saucethree {
  width: 300px;
  height: 200px;
  float: right;
  margin-left: 1rem;
  border-radius: 1.5rem;
}


#saucefour{
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 1rem;
  border-radius: 1.5rem;
}


footer {
  text-align: center;
  font-family: 'Poppins','Open Sans', 'Roboto', sans-serif;
  font-size: 1rem;
  color: #40370D;
  padding: 1rem;
  align-items:center;
  max-width: 800px;
  margin: auto;
  }



/* highcharts css */
.highcharts-figure,
.highcharts-data-table table {
    max-width: 100%;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 100%;;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


/* ----- COLOR PAlETTE -----
    A4BEA0 light pastel green
    8BAD9D darker pastel green
    DFD7BB tan
    D89065 orange
    C36C5D red

    source: https://www.color-hex.com/color-palette/89397
*/


    @media screen and (max-width: 790px) {
      body {
        margin: 1rem;
        font-size: 1rem;
      }
      h1 {
        margin: auto;
        font-size: 4rem;
        padding-bottom: 1rem;
        -webkit-text-stroke: 0px #000;
      }
      p{
        width: 100%;
      }

      #map {
        width: 300px;
        height: 200px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        }

        #chartOne {
          margin:auto;
          width: 400px;
          height: 300px;
          margin-top: 1rem;
        }

        #lom {
          width: 300px;
          height: 200px;
        }

h3{
  font-size: 1.3rem;
}

    }



        @media screen and (max-width: 490px) {
          #map {
            width: 270px;
            height: 200px;
            margin-left: 3rem;
            }

            #chartOne {
              width: 300px;
              height: 250px;
              margin-top: 1rem;
            }

            #longpic img {
              width: 200px;
              height: 100px;
              border-radius: 1.5rem;
              }

            #tubepic img {
              width: 200px;
              height: 100px;
              border-radius: 1.5rem;
              }


            #souppic img {
              width: 200px;
              height: 100px;
              border-radius: 1.5rem;
              }

            #stuffedpic img {
              width: 200px;
              height: 100px;
              border-radius: 1.5rem;
              }

            #specialShapepic img {
              width: 200px;
              height: 100px;
              border-radius: 1.5rem;
              }
            #pastaGroups {
              font-size: 0.75rem;
            }

            #hisone {
              margin-bottom: 1rem;
              margin-left: 0.25rem;
            }

       #histwo{
              margin-bottom: 1rem;
              margin-top: 1rem;
            }

            #phistory{
                padding: 0.5rem;
              }

              #pastaOrigin{
                padding: 1rem;
              }

              #regionback {
              border-style: none;
              width: 300px;
              margin: auto;
              }

              #saucemargin {
                max-width: 100%
              }
            #sauceone{
              width: 150px;
              height: 150px;
              float: right;
              margin-left: 1rem;
              border-radius: 1.5rem;
            }

            #saucetwo{
              width: 150px;
              height: 150px;
              float: left;
              margin-right: 1rem;
              border-radius: 1.5rem;
            }

            #saucethree {
              width: 150px;
              height: 150px;
              float: right;
              margin-left: 1rem;
              margin-bottom: 1rem;
              border-radius: 1.5rem;
            }


            #saucefour{
              width: 150px;
              height: 150px;
              float: left;
              margin-right: 1rem;
              border-radius: 1.5rem;
            }

            footer {
              font-size: 0.5rem;
            }
        }
